APP_ENV=dev

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=

QDRANT_COLLECTION=regulations
QDRANT_AUDIT_COLLECTION=media_audit

MISTRAL_API_KEY=

SYBOL_API_URL=https://api.sybol.io/api/bl/credentials
SYBOL_ACCESS_TOKEN=
SYBOL_ID_TOKEN=
SYBOL_REQUEST_TIMEOUT=10.0
